// background.
$color-bg-default: #fff;
$color-bg-secondary: #f6f6f4;
$color-bg-primary: #14191a;
$color-bg-overlay: rgb(20 25 26 / 32%);

// text.
$color-text-primary: #14191a;
$color-text-secondary: #a8a19a;
$color-text-contrast: #fff;
$color-text-link: #005bd1;
$color-text-link-visited: #528fdf;

// icons.
$color-icon-primary: #14191a;
$color-icon-secondary: #a8a19a;
$color-icon-contrast: #fff;

// borders.
$color-divider: rgb(20 25 26 / 12%);
$color-border: rgb(20 25 26 / 12%);
$color-border-hover: rgb(20 25 26 / 24%);
$color-border-active: rgb(20 25 26 / 72%);
$color-border-focus: rgb(20 25 26 / 24%);
$color-border-table: rgb(20 25 26 / 8%);
$color-border-timeline: rgb(20 25 26 / 4%);

// functional.
$color-success: #9aca3c;
$color-error: #f26651;
$color-notify: #f26651;
$color-warning: #f2994a;

// states.
$color-state-light-hover: rgb(20 25 26 / 4%);
$color-state-light-active: rgb(20 25 26 / 8%);
$color-state-light-focus: rgb(20 25 26 / 8%);
$color-state-disabled: rgb(20 25 26 / 12%);
