@import 'fonts';
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Grtsk Exa Bkslnt', Arial, Helvetica, sans-serif;
  color: $color-text-primary;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
